.list__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list__item {
  width: 190px;
  margin: 20px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.list__item a {
  text-decoration: none;
  color: #000;
  text-align: center;
}
.person__photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: top center;
  border-radius: 3px 3px 0 0;
}